.wrapper
  .chat-side
    .side-header
      .side-header__box
        %p.side-header__box__user-name 
          = current_user.name
        %ul.side-header__box__menu
          %li.side-header__box__menu__new-group
            = link_to new_group_path do
              %i.fa.fa-edit
          %li.side-header__box__menu__edit-user
            = link_to edit_user_path(current_user) do
              %i.fa.fa-cog
    .groups
      = render @groups
  .chat-main
    .main-header
      .main-header__left-box
        %h2.main-header__left-box__current-group{piyo: "#"}
          hahaha
        %ul.main-header__left-box__member-list
          Member：
          %li.main-header__left-box__member-list__member User0831
      = link_to edit_group_path(1) do
        .main-header__edit-btn Edit
    .messages
      = render @messages
    .form
      = form_for [@group, @message], url: group_messages_path do |f|
        .input-box
          = f.text_field :body, class: "input-box__text", placeholder: "type a message"
          %label.input-box__image{for: "message_image"}
            %i.fa.fa-image
            =f.file_field :image, class: "input-box__image__file"
        = f.submit "Send", class: "submit-btn"